* {
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 16px;
}

/* *=====================Отступ для фиксированого меню================= */

body {
  padding: 74px 0 0 0;
}

/* *=====================Общий стиль выделенного текста================= */

.bold {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

/* *=====================Заголовок секций общий стиль======================= */

.header {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  line-height: 45px;
  text-transform: uppercase;
}

@media screen and (max-width: 386px) {
  .header {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 27px;
  }
}

/* *========================Элемент списка общий стиль======================= */

.list__item {
  padding-left: 0;
  padding-right: 0;
  background: none;
  border: none;
  gap: 16px;
}

/* *=========================Общая оранжевая кнопка========================== */

.btn_orange {
  border-radius: 100px;
  border: 1px solid #FF8000;
  background: #FF8000;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

@media screen and (max-width: 386px) {
  .btn_orange {
    font-size: 14px;
    line-height: 20px;
  }
}

/* *===============================Станартный бокс========================== */

.standard__box {
  padding: 30px;
  border-right: 1px #E6E6E6 solid;
  border-bottom: 1px #E6E6E6 solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.modal__img {
  width: 100%;
}

/* *=================Меню навигации=================== */

.navbar {
  padding: 0;
  min-height: 74px;
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.08);
}

.navbar__descr {
  color: #202020;
  margin-left: 0.5rem;
  font-size: 14px;
  font-weight: 500;
}

.navbar__menu {
  margin-left: 113px;
  background-color: #f8f9fa;
}

.navbar-toggler {
  border: none;
}

.navbar-nav .nav-item .nav-link {
  color: #202020;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.nav-item {
  .nav__phone {
    color: #202020;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
  }

  .nav__call {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }

  .navbar__whatsapp {
    margin-left: 1rem;
  }
}

/* *======================Начальная секция====================== */

.main {
  max-height: 800px;
  padding: 100px 0 202px 0;
  background: url(../img/main-bg.jpg) center center no-repeat;

  .main__header {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
  }
}

span.main__header_yellow {
  color: orange;
}

.main__rait {
  margin: 0;
  margin-top: 20px;
  max-width: 286px;
  background: white;
  border-radius: 8px;
  padding: 10px 20px;
  color: orange;
  font-size: 26px;
  font-weight: 700;
  line-height: 45px;
  text-transform: uppercase;
}

.main__banner_green {
  margin: 0;
  margin-top: 20px;
  background: url(../img/banner.svg) no-repeat;
  height: 60px;
  padding: 10px 116px 20px 76px;

  .main__banner-text {
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }
}

.main__descr {
  margin: 0;
  margin-top: 20px;
  color: #535353;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}

.main__measurement {
  margin: 0;
  margin-top: 40px;
}

.main__buttom {
  padding: 20px 56px;
  text-transform: uppercase;
}

.main__measurement-descr {
  margin-left: 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  white-space: nowrap;
}

.main__circle {
  right: 100px;
  top: 200px;
  background: white;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.08);
  padding: 45px 35px;
}

.trowel {
  left: 10px;
  top: -15px;
}

.main__circle-descr {
  color: #535353;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

span.bold-md {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.main__box {
  margin-top: 180px;
  max-width: 360px;
  padding: 25px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
}

.circle-check {
  top: -30px;
  left: 150px;
}

.main__box .main__box-descr {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

span.bold-m {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}

.carousel-indicators {
  top: 150px;

  li {
    background-color: orange;
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }
}

.main__box_carousel {
  margin-top: 35px;
  padding: 25px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);

  .main__box-descr {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .circle-check {
    left: 220px;
  }
}

/* *=====================Секция с подробностями=================== */

.details {
  min-height: 1000px;
  padding: 170px 0 100px 0;
}

.details__box {
  &:nth-of-type(3n+3) {
    border-right: none;
  }

  &:nth-of-type(1n+4) {
    border-bottom: none;
  }
}

.details__box-header {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

.details__box-subheader {
  color: #535353;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* *=====================Выгода============================*/

.benefit {
  padding: 96px 0;
  background: #FAFAFA;
}

.benefit__item:first-of-type {
  margin-bottom: 6px;
}

.list-descr_bold {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.list-descr {
  flex: 1 0 0;
  color: #535353;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

/* *=====================Расчет=========================== */

.calculation {
  padding: 100px 0;
}

.nav-pills {
  .nav-link.active {
    border-radius: 100px;
    background: #FF8000;
    padding: 10px 35px;
    color: #ffff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }

  .nav__btn {
    padding: 10px 35px;
    border-radius: 100px;
    background: #FFF;
    text-decoration: none;
    color: #535353;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
}

.calculation__subheader {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.calculation__nav {
  margin-top: 40px;
  padding: 8px 12px;
  border-radius: 100px;
  background: #FAFAFA;
}

.calculation__form {
  padding: 40px 0 50px 0;
  border-radius: 16px;
  background: #FAFAFA;
}

.question {
  padding: 0 30px;
}

.form__header {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 45px;
}

.form__box {
  margin-top: 24px;
  gap: 7px;
  margin-bottom: 40px;
}

.form-check {
  margin: 0;
}

.tab-pane .question__input {
  visibility: hidden;
  position: absolute;
}

.form__img {
  cursor: pointer;
}

.radio__descr {
  margin-top: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.question__input {
  + .form__img {
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 16px;
  }

  &:checked + .form__img {
    border: 2px solid #ff8000;
    box-shadow: #FF8000 1px 2px 5px;
  }
}

.input__file {
  width: 1px;
  height: 1px;
}

.next__btn {
  margin-top: 8px;
  padding: 16px 48px;
  text-transform: uppercase;
}

.back__btn {
  margin-right: 30px;
  color: #FF8000;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  /* 150% */
  text-decoration-line: underline;
}

/* *=======================Секция 5========================= */

.how {
  padding-bottom: 100px;
}

.how__station {
  margin: 35px 0 0 0;
}

.station__header {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

.how__list {
  margin-top: 20px;
  padding-left: 16px;
}

.how__item {
  border: none;
  list-style: disc;
}

.how__block {
  padding: 30px 20px;
  margin-top: 30px;
  border-radius: 16px;
  background: #FAFAFA;
  min-height: 520px;
}

.img-box {
  margin-top: 56px;
}

.how__img {
  padding: 10px 0 0 0;
  width: 81%;
}

.how__img-circkle {
  width: 37%;
  right: 13px;
  top: 124px;
}

.how__block-item {
  max-width: 123px;
}

.how__block-item_descr {
  margin-top: 10px;
  color: #202020;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

/* *===============================Секция 6========================== */

.price {
  padding: 96px 0;
  background: #FAFAFA;
}

.price__header {
  margin-bottom: 28px;
}

.price__item {
  border-bottom: 1px solid #E6E6E6;
}

.price__item_btn {
  border: none;
  padding: 0;
}

.price__btn {
  margin-top: 30px;
  padding: 16px 48px;
  text-transform: uppercase;
}

/* *================================Секция 7================================ */

.included {
  padding: 100px 0;
}

.included__row {
  gap: 30px;
}

.included__header {
  margin-bottom: 40px;
}

.included__box {
  max-width: 340px;
  padding: 30px 20px;
  border-radius: 16px;
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.08);
}

.box__orange {
  color: #FFF;
  background: #FF8000;

  .details__box-subheader {
    color: #FFF;
  }
}

.included__btn {
  padding: 16px 48px;
  background: #FFF;
  color: #202020;
}

.foreman__container {
  margin-top: 142px;
  border-radius: 16px;
  background: #FFF7F3;
  padding: 60px;
}

.foreman__header {
  margin-bottom: 40px;
  text-align: left;
}

.foreman__descr {
  margin-left: 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.foreman__item {
  margin-top: 30px;
  gap: 25px;
}

.foreman__text {
  color: #535353;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.foreman__btn {
  padding: 12px 24px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.foreman__img {
  position: absolute;
  width: 158%;
  top: -48%;
  right: -29%;
}

.warranty__container {
  padding: 100px 0 0 0;
}

.warranty__img {
  max-width: 100%;
}

.warranty__header {
  text-align: left;
}

.warranty__banner, .warranty__list {
  margin-top: 40px;
}

/* *=================================Секция 8========================== */

.sale {
  padding: 80px 0;
  background: url(../img/section_8/sale_bg.jpg) center (center / cover) no-repeat;
}

.sale__header {
  margin-bottom: 30px;
}

.orange {
  color: orange;
}

.title {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.sale__inline {
  gap: 25px;

  &:last-of-type {
    margin-top: 20px;
  }
}

.sale__telephone {
  font-size: 20px;
  line-height: 30px;
}

.sale__btn {
  padding: 12px 24px;
}

/* *====================================Секция 9============================= */

.other {
  background: #FAFAFA;
  padding: 96px 0;
}

.other__header {
  margin-bottom: 40px;
}

.other__list {
  gap: 15px;
}

.other__item {
  padding: 0;

  &:first-child {
    padding: 0 0 15px 0;
  }
}

.reviews {
  padding: 78px 0 50px 0;
}

.reviews__header {
  margin-bottom: 40px;
}

.reviews__box_carousel {
  justify-content: space-between;
}

.reviews__indicators {
  top: 450px;
}

.reviews__img {
  width: 90%;
}

.carousel-control-prev {
  background-color: #202020;
  left: -80px;
}

.carousel-control-next {
  background-color: #202020;
  right: -80px;
}

/* *==================================Секция 11======================= */

.gallery {
  padding: 100px 0 116px 0;
}

.gallery__header {
  margin-bottom: 30px;
}

.gallery_row {
  margin-bottom: 40px;
}

.gallery__img {
  width: 100%;
  border-radius: 16px;
}

.gallery__collapse-btn {
  color: #FF8000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 100px;
  border: 1px solid  #FF8000;
  padding: 16px 48px;
}

.gallery__card {
  gap: 20px;
  border: none;
}

/* *===================================Секция 12=================================== */

.stages__header, .stages__row {
  margin-bottom: 40px;
}

.stages__box {
  width: 215px;
}

.stage__num {
  color: #FF8000;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  background-color: #FFECD9;
  border-radius: 100px;
  padding: 14px;
  margin-bottom: 20px;
  width: 64px;
  height: 64px;
}

.stage__title {
  color: #202020;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 15px;
}

.stage__descr {
  color: #535353;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.stage__num {
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    width: 300%;
    z-index: -1;
    top: 45%;
    left: 55%;
    border: 2px solid #E6E6E6;
  }
}

.stages__box:nth-of-type(5) .stage__num::after {
  border: none;
}

.stage__btn {
  padding: 16px 48px;
}

.address {
  background: url(../img/section_12/map_bg.jpg) center no-repeat;
  background-position-y: 185px;
  padding: 100px 0 50px 0;
}

.address__header {
  margin-bottom: 40px;
}

.address__row {
  gap: 240px;
}

.address__container {
  padding: 116px 0 89px 0;
}

.address__box {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 40px 25px;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.08);
}

.address__item {
  gap: 10px;
}

.address__item-text {
  color: #202020;
  font-size: 18px;
  line-height: 27px;
}

.address__point {
  max-width: 218px;
  height: 48px;
  border-radius: 6px;
  background: #212429;
  padding: 8px 16px;
}

.address__point-text {
  color: #FFF;
  text-align: center;
  font-family: RF Tone;
  font-size: 12px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.36px;
  margin-bottom: 15px;
}

/* *===========================================Секция 14===================================== */

.application {
  padding: 50px 0 100px 0;
}

.application__container {
  padding: 60px 70px;
  border-radius: 30px;
  background: #FFF7F3;
}

.applicatain__header {
  margin-bottom: 15px;
}

.application__box {
  gap: 20px;
  margin-bottom: 15px;
}

.box__btn {
  border-radius: 4px;
  border: 1px solid #FF8000;
  padding: 12px 24px;
  color: #FF8000;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.form__container {
  gap: 15px;
  margin-bottom: 20px;
}

.form__item {
  flex: 1;
}

.application__text {
  margin-bottom: 30px;
  color: #4F4F4F;
  text-align: center;
  font-size: 18px;
  line-height: 27px;
}

.application__form {
  height: auto;
  padding: 16px;
  border-radius: 100px;
  border: 1px solid #E0E0E0;
  background: #FFF;
}

.application__form-btn {
  padding: 16px 48px;
  text-transform: uppercase;
}

.link {
  color: #4F4F4F;
  text-decoration-line: underline;
}

/* *=============================Подвал============================= */

.footer {
  padding: 30px 0 0 0;
  background: #FAFAFA;
}

.footer__row {
  margin-bottom: 30px;
}

.footer__logo-element {
  gap: 30px;
  padding: 0;
}

.footer__header {
  color: #202020;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.footer__text {
  gap: 10px;
  padding: 0;
  color: #202020;
  font-size: 16px;
  line-height: 24px;
}

.footer__contacts {
  gap: 10px;
}

.paragraph {
  margin: 0;
}

.footer__docs {
  padding: 20px 0;
  color: #535353;
  font-size: 14px;
  gap: 30px;
}

.footer__line {
  border-top: solid 1px #E6E6E6;
}

.footer__links {
  color: #535353;
  font-size: 14px;
}

.docs__dialog {
  max-width: 100vh;
}

/* *===========================Адаптивность===================== */

@media screen and (max-width: 1200px) {
  .main {
    .main__header {
      font-size: 24px;
    }

    .main__rait {
      font-size: 21px;
    }

    .main__descr {
      font-size: 18px;
    }
  }

  .main__measurement-descr {
    margin: 30px 0 0 0;
  }

  .main {
    .main__banner_green {
      background-size: 75%;
      padding: 10px 110px 5px;
    }

    .main__banner-text {
      font-size: 17px;
    }
  }

  .circle-check {
    top: -30px;
    left: 85px;
  }

  .main__box {
    margin-top: 80px;
    padding: 20px;

    .main__box-descr {
      font-size: 14px;
    }
  }

  span.bold-m {
    font-size: 24px;
  }

  .how__block {
    min-height: auto;
  }

  .foreman__container {
    margin-top: 102px;
    padding: 30px;
  }

  .foreman__descr {
    margin-left: 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
  }

  .foreman__item {
    margin-top: 20px;
    gap: 15px;
  }

  .foreman__text {
    font-size: 16px;
    line-height: 30px;
  }

  .foreman__btn {
    padding: 10px 18px;
    font-size: 10px;
    line-height: 18px;
  }

  .foreman__img {
    width: 128%;
    top: -14%;
    right: -14%;
  }

  .warranty__container {
    .main__banner_green {
      background-size: 54%;
      padding: 10px 110px 5px;
    }

    .main__banner-text {
      font-size: 17px;
    }
  }

  .stages__box .stage__num::after {
    border: none;
  }

  .reviews__indicators {
    top: 370px;
  }

  .gallery {
    padding: 60px 0;
  }
}

@media screen and (max-width: 991px) {
  .navbar__menu {
    margin: 0;
  }

  .main {
    padding: 30px 0 0 0;
    max-height: 650px;

    .main__header {
      line-height: 35px;
    }

    .main__banner_green {
      padding: 3px 75px 5px;
    }
  }

  .main__buttom {
    padding: 15px 34px;
  }

  .main .main__banner-text {
    font-size: 14px;
  }

  .main__box {
    margin-top: 35px;
  }

  .circle-check {
    top: -30px;
    left: 57px;
  }

  .price {
    padding: 60px 0;
  }

  .price__item > * {
    font-size: 13px;
  }

  .price__btn {
    padding: 12px 28px;
    font-size: 12px;
  }

  .foreman__header {
    font-size: 18px;
    line-height: 28px;
  }

  .foreman__img {
    width: 149%;
    top: -14%;
    right: -25%;
  }

  .warranty__container {
    .main__banner_green {
      background-size: 74%;
      padding: 10px 100px 5px;
    }

    .main__banner-text {
      font-size: 18px;
    }
  }

  .gallery {
    padding: 50px 0;
  }

  .gallery_row {
    gap: 20px;
  }

  .address__container {
    padding: 50px 0 40px 0;
  }

  .address__row {
    gap: 0;
  }

  .application__container {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 767px) {
  .main .main__header {
    text-align: center;
  }

  .main__box {
    max-width: none;
  }

  .details {
    padding: 100px 0 50px 0;
  }

  .details__box {
    border: none;
  }

  .details__box-header {
    font-size: 16px;
  }

  .details__box-subheader {
    font-size: 14px;
  }

  .foreman__img {
    position: static;
    width: 100%;
  }

  .warranty {
    order: 2;
  }

  .warranty__container .main__banner_green {
    background-size: 84%;
    padding: 5px 60px 5px;
  }

  .address__item {
    flex-wrap: wrap;
  }

  .reviews__indicators {
    top: 450px;
  }

  .footer__logo-element {
    gap: 15px;
    margin-bottom: 30px;
  }

  .footer__text {
    margin-bottom: 17px;
  }
}

@media screen and (max-width: 575px) {
  .navbar .container {
    margin: 0 10px;
  }

  .carousel {
    margin-top: 80px;
  }

  .main__box_carousel .circle-check {
    left: 41.22vw;
  }

  .list-descr_bold {
    font-size: 16px;
  }

  .list-descr, span.bold {
    font-size: 14px;
  }

  .reviews__box_carousel {
    justify-content: center;
  }

  .sale {
    padding: 40px 0;
  }

  .sale__header {
    font-size: 18px;
  }

  .sale__inline > * {
    font-size: 16px;
  }

  .sale__btn {
    padding: 10;
  }

  .navbar {
    padding: 0 10px;
  }

  .footer__row {
    padding: 0 20px;
  }

  .footer__logo-element {
    gap: 15px;
  }

  .footer__logo {
    height: 45px;
  }

  .footer__header {
    font-size: 12px;
    line-height: 18px;
  }

  .paragraph {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
  }

  .footer__docs {
    margin-left: 20px;
    font-size: 12px;
    line-height: 18px;
    padding: 10px 0;
  }

  .footer__links {
    font-size: 12px;
  }
}

@media screen and (max-width: 510px) {
  .carousel {
    margin-top: 0;
  }
}

@media screen and (max-width: 386px) {
  .main__buttom {
    font-size: 14px;
    padding: 10px 14px;
  }

  .carousel-item .main__box-descr {
    font-size: 14px;
  }

  .main__box-descr .bold-m {
    font-size: 24px;
  }

  .main__measurement-descr {
    text-align: center;
    font-size: 15px;
  }

  .main__box_carousel .circle-check {
    left: 36.22vw;
  }

  .list__img {
    width: 75px;
  }

  .station__header {
    font-size: 18px;
  }

  .gallery__item {
    padding: 0;
  }

  .gallery__collapse-btn {
    padding: 13px 33px;
  }

  .stage__title {
    font-size: 18px;
  }

  .stage__descr {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    /* 142.857% */
  }

  .stage__btn {
    padding: 12px 48px;
  }

  .address__item {
    gap: 0;
  }

  .address__item-text {
    font-style: 16px;
    line-height: 24px;
  }

  .application {
    padding: 10px 0 60px 0;
  }

  .application__form {
    font-size: 12px;
    padding: 16px 7px;
  }

  .application__form-btn {
    padding: 12px 48px;
  }

  .application__text {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 340px) {
  .navbar__logo {
    max-width: 75%;
  }

  .navbar__menu {
    margin: 0;

    > .nav-item {
      margin: 0 0 0 50px;

      &:last-child {
        margin: 0 0 0 110px;
      }
    }
  }

  .main {
    background-position: top 520px left -530px;
    max-height: 1650px;
    background-size: 300%;

    .main__header {
      font-style: 21px;
      line-height: 30px;
    }

    .main__rait {
      text-align: center;
      font-size: 18px;
    }
  }

  .main__descr {
    display: none;
  }

  .main__box_carousel {
    padding: 23px 10px;
    margin: 300px 0 0 0;

    .circle-check {
      left: 36vw;
    }
  }

  .carousel-indicators {
    top: 430px;
  }
}

@media screen and (max-width: 312px) {
  .navbar__menu > .nav-item:last-child {
    margin: 0 0 0 90px;
  }

  .main {
    background-position: top 520px left -470px;
  }

  .main__buttom {
    padding: 10px 3px;
    font-size: 13px;
  }

  .main__box_carousel .circle-check {
    left: 32vw;
  }
}
